*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "MuseoModerno", sans-serif;
}

body{
    width: 80vw;
    margin: auto;
}

header{
    font-size: 30px;
    color: #E53070;
}

header,section{
    text-align: center;
    padding: 40px;
}

section{
    font-weight: 400;
}

main{
    content: "";
    clear: both;
    display: table;
/* la pagina funziona anche senza clearfix
comunque lo inserisco im modo che anche
main abbia una misura(senza ckearfix main risulta vuoto) */
}

.targa{
    width: calc(100% / 3 - 30px);
    height: 150px;
    float: left;
    margin: 15px;
    margin-top: 50px;
}

.picture img{
    height: 100%;
}

.picture{
    height: 100%;
    float: left;
}

.info{
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    text-align: left;
    padding: 20px;
    line-height: 35px;
    background-color: rgb(0, 0, 0);
}

.nome{
    font-weight: 900;
    color: white;
}

.posiz{
    color: white;
}

.info a{
    text-decoration: none;
    color: #47ADF1;
}