*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

header{
    font-size: 30px;
}

header,section{
    text-align: center;
    padding: 40px;
}

section{
    font-weight: 400;
}

body{
    width: 80vw;
    background-color: aqua;
    margin: auto;
}

main{
    width: 100%;
    background-color: blue;
    text-align: center;
    content: "";
    clear: both;
    display: table;
}

.targa{
    width: calc(100% / 3 - 20px);
    height: 150px;
    background-color: brown;
    float: left;
    margin: 10px;
}

.picture img{
    height: 100%;
    
}

.picture{
    width: 150px;
    height: 100%;
    background-color: rgba(247, 247, 247, 0.514);
    float: left;
}

.info{
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    text-align: left;
    padding: 20px;
    line-height: 35px;
    background-color: blueviolet;
}

.nome{

}